@import './var';

.debug{
  background-color: rgba($color: #f97474, $alpha: 0.5);
  // border: 1px solid black;
  height: 300px;
}
.smv-w-50{
  width: 50%;
}

.margin-top-less-20{
  margin-top: -20px;
  z-index: 10;
}

.background-cover{
  background-position: center;
  background-size: cover;
}

.box-white-standard{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #888888;
}

.border-top-green{
  border-top: 3px solid $primary-color;
}